<a href="https://colab.research.google.com/github/gitwit-mistry/ws1/blob/master/QXQ_YLC_HW1_USE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework - Week 1 (Optional Practice)**

---
**Topics Covered in the Homework:**

*   Print functions
*   Variables
*   Arithmetic operators
*   Comparisons
*   Lists
*   Functions



**NOTE:** This Python practice is **optional**. These problems are intended to give you some more practice with the Python concepts we have learned. It is a good idea to try at least one or two problems in each section, but if you are confident with that material then you can skip the rest of the problems and move onto the next section.

---

## **The Print Function**
---

#### **Problem #1:** Print `Hello friends.`

In [ ]:
print("Hello friends")

Hello friends

#### **Problem #2:** Print the number `10`.

In [ ]:
print(10)

10

#### **Problem #3:** Print the names of three countries.

In [ ]:
print("India", "United States of America", "Russia")

India United States of America Russia

#### **Problem #4:** Print the year.

In [ ]:
from datetime import date
print(date.today().year)

2022

## **Variables**

#### **Problem #1:** Create a variable called `popular_name` and assign it to the name 'Olivia'.

In [ ]:
popular_name = "Olivia"

#### **Problem #2:** Create a variable `birth_year` and set it equal to the year your were born. Then print, `"I was born in <birth_year>"`

In [ ]:
birth_year = 1999 
print("I was born in", birth_year)

I was born in 1999

#### **Problem #3:** Create a variable `name` and assign it to your name. Print `name`.

In [ ]:
name = "Prathamesh"
print(name)

Prathamesh

#### **Problem #4:** Label the following data types.

**NOTE**: You can change the text below by double clicking on the cell.

```
2 INT
8.9 FLOAT
"Train" STRING
["string"] LIST
5.0 FLOAT
```

#### **Problem #5:** Using only variables, print the statement `"I love coding"`.

In [ ]:
var_1 = "I"
var_2 = "love"
var_3 = "coding"
print(var_1,var_2,var_3)

I love coding

## **Arithmetic**

#### **Problem #1**: Print the result of 6 divided by 3.

In [ ]:
print(6/3)

2.0

#### **Problem #2**: Print 2 + 2.

In [ ]:
print(2 + 2)

4

####  **Problem #3:** Use code to solve this problem: Jenny had 25 marbles. She received ten more from her best friend, Alexa. Jenny's younger brother took 20 marbles from Jenny's room. How many marbles does Jenny have now?

In [ ]:
marbles_with_jenny = 25
marbles_from_alexa = 10
total_marbels_with_jenny = marbled_with_jenny + marbled_from_alexa
marbles_taken_by_brother = 20
marbles_remaining_with_jenny = total_marbels_with_jenny - marbles_taken_by_brother
print(marbles_remaining_with_jenny)

15

## **Comments and Debugging**



```
# This is formatted as code
```

####  **Problem #1**: The code below is intended to output the number 6, but this doesn't happen when you run it (try it for yourself). Correct the code so that it works properly.

In [ ]:
x = 12
y = 2
print(int(x / y))

6

####  **Problem #2**: Identify the errors in the following code:

In [ ]:
question = "What is a collection of quantum gates called?"
print("My question is " + question)

My question is What is a collection of quantum gates called?

## **Comparisons**

#### **Problem #1:** What will the following code output?
```python
num_chairs = 4
num_people = 6

print("Do we have enough chairs for everyone? " + str( num_chairs >= num_people ))
```

Do we have enough chairs for everyone? False

#### **Problem #2:** Which of the following statements is `True` given this declaration of variables?
```python
rocks = 4
paper = 2
scissors = 11
```


A) `rocks < paper`

B) `rocks >= rocks`

C) `scissors > paper`

D) `paper != scissors`

True: B, C, D

#### **Problem #3:** Will the following output be `True` or `False`?

In [ ]:
apples = 15
oranges = 12
apples >= oranges

True

## **Lists**
---

Use the list `temperatures` below to answer Problems #1-4.

In [ ]:
temperatures = [60, 66, 42, 38, 71]

#### **Problem #1:**  Replace `42` with 50.

In [ ]:
temperatures[2] = 50
print
(temperatures)

[60, 66, 50, 38, 71]

#### **Problem #2:** Drop value 71.

In [ ]:
temperatures = temperatures[:-1]

In [ ]:
print(temperatures)

[60, 66, 50, 38]

#### **Problem #3:** Add value 65.

In [ ]:
temperatures.append(65)
print(temperatures)

[60, 66, 50, 38, 65]

#### **Problem #4** Replace 65 with 85.

In [ ]:
z = temperatures.copy()

In [ ]:
print(temperatures)
for i in range(len(temperatures)):
  if temperatures[i] == 65:
    temperatures[i] = 85
print(temperatures)

[60, 66, 50, 38, 85]
[60, 66, 50, 38, 85]

Use the list `subjects` below to answer Problems #5-9.

In [ ]:
subjects = ["Math", "Physics", "Chemistry", "Biology"]

#### **Problem #5:** Add Calculus.

In [ ]:
subjects.append("Calculus")
print(subjects)

['Math', 'Physics', 'Chemistry', 'Biology', 'Calculus']

#### **Problem #6:** Drop Math.

In [ ]:
subjects.remove("Math")
print(subjects)

['Physics', 'Chemistry', 'Biology', 'Calculus']

#### **Problem #7:** Replace Physics with AP Physics.

In [ ]:
for i in range(len(subjects)):
  if subjects[i] == 'Physics':
    subjects[i] = 'AP Physics'
print(subjects)

['AP Physics', 'Chemistry', 'Biology', 'Calculus']

#### **Problem #8:** Replace Biology with AP Bio.

In [ ]:
for i in range(len(subjects)):
  if subjects[i] == 'Biology':
    subjects[i] = 'Bio'
print(subjects)

['AP Physics', 'Chemistry', 'Bio', 'Calculus']

#### **Problem #9:** Drop Calculus.

In [ ]:
subjects.remove("Calculus")
print(subjects)

['AP Physics', 'Chemistry', 'Bio']

Use the list `attendance` below to answer Problems #10-14.

In [ ]:
attendance = ["Ellie", "Kyle", "Deiondre", "Zoe", "Joaquin", "Jo", "Liv"]

#### **Problem #10:** You forgot to add a student. Add Valentina.

In [ ]:
attendance.append("Valentina")
print(attendance)

['Ellie', 'Kyle', 'Deiondre', 'Zoe', 'Joaquin', 'Jo', 'Liv', 'Valentina']

#### **Problem #11:** Joaquin accidentally got marked present when he is absent. Remove Joaquin.

In [ ]:
attendance.remove("Joaquin")
print(attendance)

['Ellie', 'Kyle', 'Deiondre', 'Zoe', 'Jo', 'Liv', 'Valentina']

#### **Problem #12:** It looks like one fo the names wasn't typed correctly. Change "Jo" to "Josh".

In [ ]:
for i in range(len(attendance)):
  if attendance[i] == 'Jo':
    attendance[i] = 'Josh'
print(attendance)

['Ellie', 'Kyle', 'Deiondre', 'Zoe', 'Josh', 'Liv', 'Valentina']

#### **Problem #13:** Kyle prefers going by Ky. Update the attendance to reflect this preference.

In [ ]:
for i in range(len(attendance)):
  if attendance[i] == 'Kyle':
    attendance[i] = 'Ky'
print(attendance)

['Ellie', 'Ky', 'Deiondre', 'Zoe', 'Josh', 'Liv', 'Valentina']

#### **Problem #14:** Another student arrived. Add Akilah to the attendance.

In [ ]:
attendance.append("Akilah")
print(attendance)

['Ellie', 'Ky', 'Deiondre', 'Zoe', 'Josh', 'Liv', 'Valentina', 'Akilah']

## **Defining Functions**
---

#### **Problem #1.** How many parameters does the following function have?

```
def hello():
  print("Hello!")
```

In [ ]:
0

0

#### **Problem #2:** Looking at the following function, describe what it will do when called.
```
def mystery(x, y):
  print(x + y)
```

The above function will add the 2 parameters x and y.

#### **Problem #3:** How many paramters does the following function have?
```
def params(param):
  print("You passed " + str(param) + " as a parameter")
```

In [ ]:
1

1

#### **Problem #4:** Fill in the following function so it will add the first two numbers, then subtract the third and print the result.

In [ ]:
def math_func(num1, num2, num3):
  #add code here
  result = num1 + num2 - num3
  print(result)

#### **Problem #5:** Fill in the following function so it prints the two names in the format: `"Name One: <name1>, Name Two: <name2>"`

In [ ]:
def two_names(name1, name2):
  #add code here
  print("Name One: %s, Name Two: %s" % (name1, name2))

#### **Challenge Problem:** Create a function that accepts two strings and prints both of them with a space between them.

In [ ]:
def two_strings(str1, str2):
  print(str1,str2)

#### **Challenge Problem:** Write a function that accepts two parameters. One being a list, and the other an item to add to the list. Add the item to the list, then print this new list.

In [ ]:
def add_to_list(list_name, item):
  #add code here
  list_name.append(item)
  print(list_name)

---
Copyright 2022 The Coding School, All rights reserved